<%= render 'layouts/analytics' %>
<header class="full slider">
  <div id="slider" class="carousel slide">
    <!-- Le Carousel Control -->
    <ul class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ul>
    
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "women.jpg"%>
      </div>
      <div class="item">
        <%= image_tag "both.jpg"%>
      </div>
      <div class="item">
        <%= image_tag "girl1.jpg"%>
      </div>
    </div>
  </div>
  <div class="overlay">
    <article>
      <%= image_tag "4.png"%>
    </article>
  </div>
</header>

<!-- Le Navigation -->
<nav class="full">
  <div class="container">
    <div class="row">
      <ul id="top-menu">
        <li class="col-sm-1 active"><a href="#top"><i class="fa fa-chevron-up"></i><span class="hidden">Top</span></a></li>
        <li class="col-sm-2"><a href="#whoiam">Who We Are</a></li>
        <li class="col-sm-2"><a href="#whatido">What We Do</a></li>
        <li class="col-sm-2"><a href="#stuffimade">Collection</a></li>
        <li class="col-sm-2"><a href="#history">History</a></li>
        <li class="col-sm-2"><a href="#getintouch">Ge in Touch</a></li>
        <li class="col-sm-1"><a href="#social-bar"><i class="fa fa-chevron-down"></i><span class="hidden">Get Connected</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Who I Am -->
<section id="whoiam">
  <div class="container">
    <h1 class="title">
      Who We <span>Are</span>
    </h1>
    <h2 class="sub-title">
      A Colombian company, with 13 years of experience in the market, that offers fresh and affordable trends for every stage of a woman.
    </h2>
    
    <div class="row">
      <div class="span6 first">
        <h4 class="heading turquoise"><i class="fa fa-suitcase"></i> Our <strong>Mission</strong>  </h4>
        <p>
          We are a company committed in designing and marketing of clothing for each stage of a woman. To archive it, we are focused on transforming the product according to the demands of quality, technology and vanguard in the market, projecting us on the client as a versatile and accessible brand for modern woman.
        </p>
      </div>
      <div class="span6">
        <h4 class="heading blue"><i class="fa fa-eye"></i> Our <strong>Vision</strong></h4>  
        <p>
          Being a company positioned in the national and international market, focused on the production of high quality women's clothes, always in touch with new trends, fashion and standards of qualified team that evaluates the product in all its stages, to transform it into a relevant and accessible option for the modern woman.
        </p>
      </div>
    </div>
    
    <h3 class="heading orange"><i class="fa fa-users"></i> Our <strong>Essence</strong></h3>
    
    <div class="add-md-top">
      <p>
        We understand that every stage of your life is one step closer to your personal fulfillment, so we design each and every of our garments trying to make your life more practical and fun. You are our inspiration, and we want your image to project the versatility and femininity of being a woman.
      </p>
      <p>
        We know you are multifaceted, decisive in every moment of life, essential in your family, Determinant in the company and a key to society, so we think that the outlay you make will be the right one, where what you get means  every situation where you can develop. Your growth is part of our history, so we will always offer you fresh and authentic trends that comes in harmony with your style.
      </p>
    </div>
  </div>
</section>

<!-- What I Do -->
<section id="whatido" class="rotateInUpLeft">
  <div class="container">
    <h1 class="title">
      What We <span class="turquoise">Do</span>
    </h1>
    <h2 class="sub-title">
      We design and sell garments that match the codes of a woman in each of its stages, containing fashion, versatility and femininity.
    </h2>
    
    <div class="row services">
        <div class="col-sm-4">
            <h2><i class="icon-picons-user-female"></i></h2>
            <h5>Women’s clothing</h5>
            <p> We follow the woman closely and considerer her best moments, offering her practicality and comfort in each of our garments, in a way that she feels authentic, beautiful and natural.</p>
        </div>
        <div class="col-sm-4">
            <h2><i class="icon-picons-scissors"></i></h2>
            <h5>We design</h5>
            <p>The uniqueness of each of our garments is intended as a meaningful solution to the requirements demanded by the everyday of a modern woman.
            </p>
        </div>
        <div class="col-sm-4">
            <h2><i class="icon-picons-dollar-2"></i></h2>
            <h5>Reechable</h5>
            <p>We offer our customers affordable, multi – functional products, with high quality fabrics that can be used in any occasion. </p>
        </div>
    </div>
    
    <hr />
    <div class="midle-logo">
      <%= image_tag "3.png" %>  
    </div>
    
  </div>
</section>

<!-- Stuff I Made -->
<section id="stuffimade" class="bounceIn">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">
          Our <span class="highlight orange">Collection</span>
        </h1>
        <h2 class="sub-title">
          Below are some garments of our new collection “deeply in love”, inspiration that comes from flowers, colors, soft and fresh textures.
        </h2>
    </div>
    </div>
  </div>
  
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <img src="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="portfolio clearfix">
      <div class="main row">
        <ul id="og-grid" class="og-grid">
          <li class="filter-web">
            <a href="" data-largesrc="assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                <div class="text-overlay">
                  <div class="info">See Description</div>
                </div>
                <%= image_tag "1.jpg"%>
              </figure>
            </a>
            <button class="btn orange" data-source="assets/1.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                <div class="text-overlay">
                  <div class="info">See Description</div>
                </div>
                <%= image_tag "2.jpg"%>
              </figure>
            </a>
            <button class="btn orange" data-source="assets/2.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-oil">
            <a href="" data-largesrc="assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                <div class="text-overlay">
                  <div class="info">See Description</div>
                </div>
                <%= image_tag "3.jpg"%>
              </figure>
            </a>
            <button class="btn orange" data-source="assets/3.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/4.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                <div class="text-overlay">
                  <div class="info">See Description</div>
                </div>
                <%= image_tag "4.jpg"%>
              </figure>
            </a>
            <button class="btn orange" data-source="assets/4.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-web">
            <a href="" data-largesrc="assets/5.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                <div class="text-overlay">
                  <div class="info">See Description</div>
                </div>
                <%= image_tag "5.jpg"%>
              </figure>
            </a>
            <button class="btn orange" data-source="assets/5.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/6.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                <div class="text-overlay">
                  <div class="info">See Description</div>
                </div>
                <%= image_tag "6.jpg"%>
              </figure>
            </a>
            <button class="btn orange" data-source="assets/6.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-oil">
            <a href="" data-largesrc="assets/7.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                <div class="text-overlay">
                  <div class="info">See Description</div>
                </div>
                <%= image_tag "7.jpg"%>
             </figure>
            </a>
            <button class="btn orange" data-source="assets/7.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/8.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                <div class="text-overlay">
                  <div class="info">See Description</div>
                </div>
                <%= image_tag "8.jpg"%>
              </figure>
            </a>
            <button class="btn orange" data-source="assets/8.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-web">
            <a href="" data-largesrc="assets/9.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                <div class="text-overlay">
                  <div class="info">See Description</div>
                </div>
                <%= image_tag "9.jpg"%>
              </figure>
            </a>
            <button class="btn orange" data-source="assets/9.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- History -->
<section id="history" class="rotateInUpLeft">
  <div class="container">
    <h1 class="title">
      Our <span class="highlight orange">History</span>
    </h1>
  </div>
  <div class="container">
    <div class="col-sm-6">
      <aside>
        <h1 class="section-title text-center" ><i class="icon-picons-home-2"></i>
        How dit it start?</h1>
        <p class="history-text">
          In 2000, Siomara sierra joins as an ideal partner to maximize a dream company of two friends, between them including her sister Lilana Sierra who was an unconditional support for the flowering and permanence of the company in its beginnings. The initial idea from the duo emerges from designing women’s clothes produced by subcontractors and sold in a personalized way all over the world; however their business idea was conceived as an uncertain and distant future.
        </p> 
        <p class="history-text">
          Although the idea worked on a small scale, and it was staying in the market, the view that Siomara Sierra had about the business was stronger, and sensed as a close reality.
        </p>
        <p class="history-text">
          <div class="phrase">
            <i class="fa fa-quote-left"></i><i> A clear and powerful idea soon becomes in a close reality </i><i class="fa fa-quote-right"></i>.
          </div>
          The hazards of life did not wait and when someone has a conviction of something doesn’t give up until they get it, with this confidence Siomara sierra raised up from various situations, to continue with her own project, where step by step , with effort and courage has seen it bearing fruits.
          <a href="#" class="read-more">Read more</a>
        </p>
        <div class="more">
          <p class="history-text">
            This is how the brand Siomara Sierra has been extended and consolidated for thirteen years in national level, as a known company in women’s confection and vanguard sector, where inputs are transformed into quality products, style and affordability, always designed to go with every women in each of her stages. 
          </p>
          <p class="history-text">
            A working structure, with performing manufacturing plants and a committed team, they are part of the garment evaluation process, which gives strong value and warranty when trading. The brand Siomara Sierra stepped to the opening of new markets on an internationally way and to the challenges imposed by the society, and it qualifies to continue growing, adding benefits to its differentiating attributes permanently.
            <a class="show-less" href="#">Close</a>
          </p>
        </div>
          
      </aside>
    </div>
    <div class="col-sm-6 map text-center">
      <h1 class="section-title">National Precense</h1>
      <%=image_tag "zonas.png"%>
      <%=image_tag "mapa.png"%>
    </div>
  </div>
  
</section>
<!-- How to Reach Me -->
<section id="getintouch" class="fadeInRightBig">
  <div class="container">
    <h1 class="title">
      Get in<span class="highlight orange">Touch</span>
    </h1>
  </div>
  
  <div class="container">        
    <h2 class="sub-title">
      Any concerns you may have you can communicate through this form and we will give you a reply within 48 hours. 
    </h2>

    <%= render 'shared/error_messages', object: @message %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    
    <div class="row">
      <div class="col-sm-8">
        <form accept-charset="UTF-8" action="/" id="new_message" method="post" class="new_message contact">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <div class="row">
            <div class="col-sm-6">
              <label class="required" for="name">
                  Your Name
                  <input type="text" name="message[name]" id="message_name" placeholder="John Stuart" required>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="required" for="email">
                  Your Mail
                  <input type="email" name="message[email]" id="message_email" placeholder="John@Stuart.com" required>
              </label>
            </div>
          </div>
           <div class="row">
            <div class="col-sm-6">
              <label class="required" for="name">
                  Subject
                  <input type="text" name="message[subject]" id="message_subject" placeholder="John Stuart" required>
              </label>
            </div>
          </div>
          <label class="required">
            Message
            <textarea id="message_body" name="message[body]" rows="7" placeholder="Tengo una idea para un proyecto..." required></textarea>
          </label>
          <div class="add-sm-top text-center">
            <button class="btn btn-danger" type="submit"><i class="fa fa-envelope"></i> &nbsp; SEND EMAIL</button>
          </div>
        </form>
      </div>
      <div class="col-sm-4 contact-address">
        <h3 class="heading turquoise add-xs-top">Contact Us</h3>
        <p>For more information of our products and services, Contac us..</p>
        <h3 class="heading blue add-sm-top">Our Company</h3>
        <address><abbr title="Address"><i class="fa fa-thumb-tack"></i></abbr>Medellín - Colombia</address>
        <address><abbr title="Phone"><i class="fa fa-phone"></i></abbr>3103816588</address>
        <address><abbr title="Email"><i class="fa fa-envelope"></i></abbr>moda@siomarasierra.com</address>
        <h3 class="heading orange add-sm-top">USA Contact</h3>
        <address><abbr title="Address"><i class="fa fa-user"></i></abbr>Ilan & Monica Basrawi<br /></address>
        <address><abbr title="Phone"><i class="fa fa-phone"></i></abbr>(570) 582-5066 / (570) 861-6037</address>
        <address><abbr title="Phone"><i class="fa fa-phone"></i></abbr>(570) 249-9610</address>
      </div>
    </div>
  </div>
</section>


<section id="social-bar">
  <div class="container">
    <div class="social-wrapper">
      <h2>Social</h2>
      <div class="social" style="height: 80px;">
        <div><a target="_blank" href="https://www.facebook.com/SSiomarasierra"><%=image_tag "social/facebook.png", alt: "Facebook"%></a></div>
        <div><a target="_blank" href="https://twitter.com/SSiomarasierra"><%= image_tag "social/twitter.png", alt: "Twitter"%></a></div>
        <div><a target="_blank" href="http://instagram.com/ssiomarasierra"><%= image_tag "social/instagram.gif", alt: "Instagram"%></a></div>
        <div><a target="_blank" href="https://www.youtube.com/channel/UC-ktsjKxx3LpO2oD6V_buBw"><%= image_tag "social/youtube.png", alt: "Youtube"%></a></div>
      </div><a class="show-more" href="#" style="display: none;"></a>
    </div>
  </div>
</section>



