
<%= render 'layouts/analytics' %>
<header class="slider">
  <div id="slider" class="carousel slide">
    <!-- Le Carousel Control -->
    <ul class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ul>
    
    <div class="carousel-inner">
      <div class="item image1 active">
        <%= image_tag "women.jpg"%>
      </div>
      <div class="item image2">
      </div>
      <div class="item image3">
      </div>
    </div>
  </div>
  <div class="overlay">
    <article>
      <%= image_tag "5.png"%>
    </article>
  </div>
</header>

<!-- Le Navigation -->
<nav>
  <div class="container">
    <div class="row">
      <ul id="top-menu">
        <li class="col-sm-1 active"><a href="#top"><i class="fa fa-chevron-up"></i><span class="hidden">Top</span></a></li>
        <li class="col-sm-2"><a href="#whoiam">Quíenes Somos</a></li>
        <li class="col-sm-2"><a href="#whatido">Qué Hacemos</a></li>
        <li class="col-sm-2"><a href="#stuffimade">Colección</a></li>
        <li class="col-sm-2"><a href="#history">Historia</a></li>
        <li class="col-sm-2"><a href="#getintouch">Contactenos</a></li>
        <li class="col-sm-1"><a href="#social-bar"><i class="fa fa-chevron-down"></i><span class="hidden">Get Connected</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Who I Am -->
<section id="whoiam">
  <div class="container">
    <h1 class="title">
      Quienes <span>Somos</span>
    </h1>
    <h2 class="sub-title">
      Empresa colombiana, con 13 años de experiencia en el mercado, que ofrece tendencias frescas y accesibles en cada etapa de la mujer.
    </h2>
    
    <div class="row">
      <div class="span6 first">
        <h4 class="heading turquoise"><i class="fa fa-suitcase"></i> Nuestra <strong>Misión</strong>  </h4>
        <p>
          Somos una empresa comprometida en el diseño y comercialización de prendas para cada etapa de la mujer. Para lograrlo nos orientamos en transformar el producto de acuerdo a las demandas de calidad, tecnología y vanguardia en el mercado, proyectándonos en el cliente como una marca versátil y accesible para mujer moderna.
        </p>
      </div>
      <div class="span6">
        <h4 class="heading blue"><i class="fa fa-eye"></i> Nuestra <strong>Visión</strong></h4>  
        <p>
          Ser una empresa posicionada en el mercado nacional e internacional, enfocada en la producción de prendas femeninas de alta calidad, siempre en contacto con la tendencia, la moda y los estándares de un equipo cualificado que evalúa el producto en todas sus etapas, hasta transformarlo en una opción relevante y accesible para la mujer moderna.
        </p>
      </div>
    </div>
    
    <h3 class="heading orange"><i class="fa fa-users"></i> Nuestra <strong>Esencia</strong></h3>
    
    <div class="add-md-top">
      <p>
        Mujer, entendemos que cada etapa de tu vida es un paso más cerca hacia tu realización personal, por esto diseñamos cada una de nuestras prendas buscando hacerte la vida más tranquila, práctica y divertida. Tu eres nuestra inspiración, y deseamos que tu imagen proyecte la versatilidad y feminidad que tanto cuidas.
      </p>
      <p>
        Sabemos que eres una mujer multifacética, decisiva en cada momento de la vida, indispensable en tu familia, determinante en la empresa y clave en la sociedad, por eso pensamos en que la inversión que hagas sea la adecuada, donde lo que adquieras resignifique cada una de las situaciones en las que te desarrollas.
        Tu crecimiento hace parte de nuestra historia, por esto siempre te vamos a ofrecer tendencias frescas y auténticas que entren en armonía con tu estilo.
      </p>
    </div>
  </div>
</section>

<!-- What I Do -->
<section id="whatido" class="rotateInUpLeft">
  <div class="container">
    <h1 class="title">
        Que <span class="turquoise">Hacemos</span>
    </h1>
    <h2 class="sub-title">
      Diseñamos y comercializamos prendas que responden a los códigos de la mujer en cada una de sus etapas, con contenido de moda, versatilidad y feminidad.
    </h2>
    
    <div class="row services">
        <div class="col-sm-4">
            <h2><i class="icon-picons-user-female"></i></h2>
            <h5>Ropa Para Mujer</h5>
            <p>Mujer, entendemos que cada etapa de tu vida es un paso más cerca hacia tu realización personal, por esto diseñamos cada una de nuestras prendas buscando hacerte la vida más tranquila, práctica y divertida.</p>
        </div>
        <div class="col-sm-4">
            <h2><i class="icon-picons-scissors"></i></h2>
            <h5>Diseñamos</h5>
            <p>La exclusividad de cada una de nuestras prendas esta pensada como una solución significativa a las exigencias que demanda el día a día de la mujer moderna.</p>
        </div>
        <div class="col-sm-4">
            <h2><i class="icon-picons-dollar-2"></i></h2>
            <h5>A tu Alcance</h5>
            <p>Ofrecemos a nuestros clientes un producto accesible y multifuncional, con telas de excelente calidad que pueden ser usadas en toda ocasión.</p>
        </div>
    </div>
    
    <hr />
    <div class="midle-logo">
      <img src="assets/1.png">  
    </div>
    
  </div>
</section>

<!-- Stuff I Made -->
<section id="stuffimade" class="bounceIn">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">
          Nuestra <span class="highlight orange">Colección</span>
        </h1>
        <h2 class="sub-title">
          Profundamente enamorada es nuestra nueva colección, y nuestra inspiración nace en las flores, en los colores, en las texturas suaves y frescas.
        </h2>
    </div>
    </div>
  </div>
  
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <img src="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="portfolio clearfix">
      <div class="main row">
        <ul id="og-grid" class="og-grid">
          <li class="filter-web">
            <a href="" data-largesrc="assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/1.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/1.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/2.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/2.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-oil">
            <a href="" data-largesrc="assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/3.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/3.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/4.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/4.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/4.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-web">
            <a href="" data-largesrc="assets/5.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/5.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/5.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/6.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/6.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/6.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-oil">
            <a href="" data-largesrc="assets/7.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/7.jpg" alt="">
             </figure>
            </a>
            <button class="btn orange" data-source="assets/7.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/8.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/8.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/8.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-web">
            <a href="" data-largesrc="assets/9.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/9.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/9.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- History -->
<section id="history" class="rotateInUpLeft">
  <div class="container">
    <h1 class="title">
      Nuestra <span class="highlight orange">Historia</span>
    </h1>
  </div>
  <div class="container">
    <div class="col-sm-6">
      <aside>
        <h1 class="section-title text-center" ><i class="icon-picons-home-2"></i>
        ¿Cómo empezó?</h1>
        <p class="history-text">
          En el año 2000, Siomara Sierra se incorpora como una socia idónea para potenciar un sueño de empresa de dos amigas, entre ellas su hermana Liliana Sierra que fue un apoyo incondicional para el florecimiento y permanencia de la empresa en sus primeros inicios. La idea inicial del dúo de amigas surge con el diseño de prendas femeninas que se producen mediante subcontratistas y luego se comercializan de manera personalizada a lo largo del país, sin embargo su idea de negocio era concebida como un futuro incierto y lejano.
        </p> 
        <p class="history-text">
          Aunque la idea funcionaba a pequeña escala, y tenía permanencia en el mercado, la visión que Siomara Sierra tenía del negocio era más potente, y la intuía como una realidad muy cercana.
        </p>
        <p class="history-text">
          <div class="phrase">
            <i class="fa fa-quote-left"></i><i>Una idea clara y potente pronto se transforma en una realidad cercana</i><i class="fa fa-quote-right"></i>.
          </div>
          Los azares de la vida no se dieron a la espera y cuando alguien tiene una convicción de algo no se cansa hasta lograrlo, fue con esta confianza con la que Siomara Sierra se levantó de varias tormentas temporales, para seguir a la delantera con su propio proyecto, en el cual palmo a palmo con esfuerzo y valentía ha visto los frutos.
          <a href="#" class="read-more">Leer mas</a>
        </p>
        <div class="more">
          <p class="history-text">
            Es así como la marca Siomara Sierra se ha extendido y consolidado durante trece años a nivel nacional, como una empresa reconocida en el sector de la confección femenina de vanguardia, donde los insumos son transformados en un producto de calidad, estilo y accesibilidad, siempre pensados para acompañar a la mujer en cada una de sus etapas.
          </p>
          <p class="history-text">
            Una estructura de trabajo, con instalaciones para la realización de la manufactura y un equipo humano comprometido, hacen parte en la evaluación de todo el proceso de materialización de la prenda, lo cual es un valor agregado de solidez y garantía cuando se comercializa.La marca Siomara Sierra se abre paso a la apertura de nuevos mercados en el ámbito internacional y a los desafíos que le impone la sociedad, y se cualifica para seguir creciendo, sumando beneficios a sus atributos diferenciadores de manera permanente.
            <a class="show-less" href="#">Cerrar</a>
          </p>
        </div>
          
      </aside>
    </div>
    <div class="col-sm-6 map text-center">
      <h1 class="section-title">Presencia Nacional</h1>
      <img src="assets/zonas.png">
      <img src="assets/mapa.png">
    </div>
  </div>
  
</section>
<!-- How to Reach Me -->
<section id="getintouch" class="fadeInRightBig">
  <div class="container">
    <h1 class="title">
      Estemos en <span class="highlight orange">Contacto</span>
    </h1>
  </div>
  
  <div class="container">        
    <h2 class="sub-title">
      Cualquier inquietud que tengas la puedes comunicar a través de este formulario y nosotros te daremos respuesta en las 48 horas siguientes.
    </h2>

    <%= render 'shared/error_messages', object: @message %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    
    <div class="row">
      <div class="col-sm-8">
        <form accept-charset="UTF-8" action="/" id="new_message" method="post" class="new_message contact">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <div class="row">
            <div class="col-sm-6">
              <label class="required" for="name">
                  Tu Nombre
                  <input type="text" name="message[name]" id="message_name" placeholder="John Stuart" required>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="required" for="email">
                  Tu Correo
                  <input type="email" name="message[email]" id="message_email" placeholder="John@Stuart.com" required>
              </label>
            </div>
          </div>
           <div class="row">
            <div class="col-sm-6">
              <label class="required" for="name">
                  Asunto
                  <input type="text" name="message[subject]" id="message_subject" placeholder="John Stuart" required>
              </label>
            </div>
          </div>
          <label class="required">
            Mensaje
            <textarea id="message_body" name="message[body]" rows="7" placeholder="Tengo una idea para un proyecto..." required></textarea>
          </label>
          <div class="add-sm-top text-center">
            <button class="btn btn-danger" type="submit"><i class="fa fa-envelope"></i> &nbsp; ENVIAR COREO</button>
          </div>
        </form>
      </div>
      <div class="col-sm-4 contact-address">
        <h3 class="heading turquoise add-xs-top">Contáctenos</h3>
        <p>Para mayor información de nuestros productos y servicios, comunícate con nosotros.</p>
        
        <h3 class="heading blue add-sm-top">Nuestra Empresa</h3>
        <address><abbr title="Address"><i class="fa fa-thumb-tack"></i></abbr>Catharsis Media Group<br />
                                        123 Some Street, Medellín - Colombia</address>
        <address><abbr title="Phone"><i class="fa fa-phone"></i></abbr>3103816588</address>
        <address><abbr title="Email"><i class="fa fa-envelope"></i></abbr>moda@siomarasierra.com</address>
      </div>
    </div>
  </div>
</section>


<section id="social-bar">
  <div class="container">
    <div class="social-wrapper">
      <h2>Redes Sociales</h2>
      <div class="social" style="height: 80px;">
        <div><a target="_blank" href="https://www.facebook.com/SSiomarasierra"><img src="assets/social/facebook.png" alt="Facebook"></a></div>
        <div><a target="_blank" href="https://twitter.com/SSiomarasierra"><img src="assets/social/twitter.png" alt="Twitter"></a></div>
        <div><a target="_blank" href="http://instagram.com/ssiomarasierra"><img src="assets/social/instagram.gif" alt="Instagram"></a></div>
        <div><a target="_blank" href="https://www.youtube.com/channel/UC-ktsjKxx3LpO2oD6V_buBw"><img src="assets/social/youtube.png" alt="Youtube"></a></div>
      </div><a class="show-more" href="#" style="display: none;"></a>
    </div>
  </div>
</section>


