<div class="deeply container">
  <div class="row">
    <div class="span12">
      <h1 class="title">
        Colección <span class="highlight orange">Niños</span>
      </h1>
      <h2 class="sub-title">
        Esta es nuestra colección para niños
      </h2>
  </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content kids">
      <img src="">
    </div>
  </div>
</div>
<div class="container">
  <div class="portfolio clearfix">
    <div class="main row">
      <ul id="og-grid" class="og-grid">
        <li class="filter-web">
          <a href="#" data-largesrc="assets/kids/40054.jpg" data-title="Colección niños" data-description="Descripción">
            <figure>
              <div class="text-overlay">
                <div class="info">Ver Descripción</div>
              </div>
              <%= image_tag "kids/40054.jpg"%>
            </figure>
          </a>
          <button class="btn orange" data-source="assets/kids/40054.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
        </li>
        <li class="filter-branding">
          <a href="" data-largesrc="assets/kids/40048.jpg" data-title="Colección niños" data-description="Descripción">
            <figure>
              <div class="text-overlay">
                <div class="info">Ver Descripción</div>
              </div>
              <%= image_tag "kids/40048.jpg"%>
            </figure>
          </a>
          <button class="btn orange" data-source="assets/kids/40048.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
        </li>
        <li class="filter-oil">
          <a href="" data-largesrc="assets/40044.jpg" data-title="Colección niños" data-description="Descripción">
            <figure>
              <div class="text-overlay">
                <div class="info">Ver Descripción</div>
              </div>
              <%= image_tag "kids/40044.jpg"%>
            </figure>
          </a>
          <button class="btn orange" data-source="assets/kids/40044.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
        </li>
        <li class="filter-branding">
          <a href="" data-largesrc="assets/kids/40053.jpg" data-title="Colección niños" data-description="Descripción">
            <figure>
              <div class="text-overlay">
                <div class="info">Ver Descripción</div>
              </div>
              <%= image_tag "kids/40053.jpg"%>
            </figure>
          </a>
          <button class="btn orange" data-source="assets/kids/40053.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
        </li>
        <li class="filter-web">
          <a href="" data-largesrc="assets/kids/40049.jpg" data-title="Colección niños" data-description="Descripción">
            <figure>
              <div class="text-overlay">
                <div class="info">Ver Descripción</div>
              </div>
              <%= image_tag "kids/40049.jpg"%>
            </figure>
          </a>
          <button class="btn orange" data-source="assets/kids/40049.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
        </li>
      </ul>
    </div>
  </div>
</div>
