<!DOCTYPE html>
<html>
<head>
  <title>SiomaraSierra</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- Le Mobile Specific Metas
    ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- Le CSS
    ================================================== -->
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "picons" %>
  <%= stylesheet_link_tag "style" %>
  
  <!-- Js -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <%= javascript_include_tag "modernizr.custom" %>
  <%= javascript_include_tag "bootstrap.min" %>>

  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body id="top">

  <%= yield %>

  <%= javascript_include_tag "library" %>
  <%= javascript_include_tag "scripts" %>
  <script>
      $(function() {
          Grid.init();
      });
  </script>

</body>
</html>
